<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../static/css/home.css" media="screen">
		<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.2/dijit/themes/claro/claro.css">
		<script>
			dojoConfig = {
				async: 1,
				parseOnLoad:1,
				packages: [{
	            name: "d3",
	            location: "http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/"
		        }]
			};
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.2/dojo/dojo.js"></script>
		<script src="../static/javascript/home.js" ></script>
		<script>
			require(["dojo/parser", "dijit/layout/BorderContainer","dijit/layout/TabContainer", "dijit/layout/ContentPane", "dojox/layout/ContentPane", "dojox/layout/ScrollPane"]);
		</script>
		<title>EJECUCION DAGMA 2016</title>
	</head>
	<body class='claro'>
		<div id='layout' data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, liveSplitters:true" style="width: 100%; height: 100%">
			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">
			<div>Ultima actualizacion: Octubre 31, 2016</div>
			</div>
			<div id = 'leadingPane' data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:true, region:'leading'">
				<div id='tree'></div>
			</div>
			<div id='tabs' 
				data-dojo-type = "dijit/layout/TabContainer" 
				data-dojo-props = "region:'center', doLayout:'true', 
									isLayoutContainer:'true',
									useMenu:'false', 
									tabPosition: 'top'">
				<div id="banco" data-dojo-type="dojox/layout/ContentPane" 
					 title="BANCO DE PROYECTOS"
					 data-dojo-props="href:'/weightedtree?tree=banco', 
					 				executeScripts: true,
					 				refreshOnShow: false,
					 				">
				</div>
				<div id="contratos" data-dojo-type="dojox/layout/ContentPane" 
					 title="CONTRATOS"
					 data-dojo-props="href:'/weightedtree?tree=contratos', 
					 				executeScripts: true,
					 				refreshOnShow: false,
					 				">
				</div>
				<div id="alertas" data-dojo-type="dojox/layout/ContentPane"  title="ALERTAS">
					TEST
				</div>			
			</div>
		<div style="text-align:center" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'">
				&copy;2016 DAGMA 
			</div>
		</div>
	</body>
</html>
